<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd">

	<bean id="dataSource" 
      class="org.springframework.jndi.JndiObjectFactoryBean">
      <property name="jndiName" 
                  value="java:comp/env/jdbc/GW_DATA_PORTAL"/>    
      <property name="resourceRef" 
                  value="true" /> 
                  
	</bean>
	
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
  		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="wellRegistryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  		<property name="mapperInterface" value="gov.usgs.ngwmn.dm.dao.WellRegistryMapper" />
  		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
    <bean id="WellRegistryDAO"
    	class="gov.usgs.ngwmn.dm.dao.WellRegistryDAO">
    	<property name="mapper" ref="wellRegistryMapper"/>
   	</bean>
   	
   	<bean id="fetchLogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  		<property name="mapperInterface" value="gov.usgs.ngwmn.dm.dao.FetchLogMapper" />
  		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="FetchLogDAO"
		class="gov.usgs.ngwmn.dm.dao.FetchLogDAO">
		<constructor-arg ref="fetchLogMapper"/>
	</bean>
	
	<bean id="cacheMetaDataMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  		<property name="mapperInterface" value="gov.usgs.ngwmn.dm.dao.CacheMetaDataMapper" />
  		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="CacheMetaDataDAO" 
			class="gov.usgs.ngwmn.dm.dao.CacheMetaDataDAO">
		<constructor-arg ref="cacheMetaDataMapper"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="FetchRecorder"
		class="gov.usgs.ngwmn.dm.io.FetchRecorder">
		<property name="dao" ref="FetchLogDAO"/>
	</bean>
	
	<bean id="LatLongResolver"
		class="gov.usgs.ngwmn.dm.spec.LatLongResolver">
		<constructor-arg ref="WellRegistryDAO"></constructor-arg>
	</bean>	
	
 	<bean id="FetchEventBus" class="gov.usgs.ngwmn.dm.eventbus.EventBusSpring">
 		<property name="subscribers">
     		<list>
       			<ref bean="FetchRecorder"/>
     		</list>
   		</property>
 	</bean>
 	<bean class="gov.usgs.ngwmn.dm.aspect.PipeStatisticsAspect"
 		factory-method="aspectOf">
 		<property name="eventBus" ref="FetchEventBus"/>
 	</bean>
		
	<jee:jndi-lookup id="FSCache.basedir" 
		jndi-name="java:comp/env/GWDP/FileCache/basedir" 
		default-value="/tmp/gwdp-cache"/>
		
	<bean id="FileCache"
		class="gov.usgs.ngwmn.dm.cache.fs.FileCache">
		<!-- Leave unset for fail-fast <property name="basedir" value="/tmp/gwdp-cache"/>  -->  
		<property name="basedir" ref="FSCache.basedir"/>
	</bean>
	
	<bean id="Retriever"
		class="gov.usgs.ngwmn.dm.cache.Retriever">
		<constructor-arg ref="FileCache"></constructor-arg>
	</bean>
		
	<bean id="Loader"
		class="gov.usgs.ngwmn.dm.cache.Loader">
		<constructor-arg>
			<list>
				<ref bean="FileCache"/>
				<ref bean="QualityCache"/>
				<ref bean="LogCache"/>
				<ref bean="WaterlevelCache"/>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="WebRetriever"
			class="gov.usgs.ngwmn.dm.harvest.WebRetriever">
	</bean>
		
	<bean id="DataBroker" class="gov.usgs.ngwmn.dm.DataBroker">
		<property name="wellRegistry" ref="WellRegistryDAO"/>
		<property name="retriever" ref="Retriever"/>
		<property name="loader" ref="Loader"/>
		<property name="harvester" ref="WebRetriever"/>
	</bean>

	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler">
		<property name="streamAsLob" value="true"/>
	</bean>
	
    <bean id="QualityCache" class="gov.usgs.ngwmn.dm.cache.qw.DatabaseXMLCache">
    	<constructor-arg ref="dataSource"/>
    	<constructor-arg value="QUALITY"/>
    	<constructor-arg ref="lobHandler"/>    	
    	<property name="inspector">
    		<bean class="gov.usgs.ngwmn.dm.cache.qw.NullInspector"/>
    	</property>
    </bean>
    
    <bean id="LogCache" class="gov.usgs.ngwmn.dm.cache.qw.DatabaseXMLCache">
    	<constructor-arg ref="dataSource"/>
    	<constructor-arg value="LOG"/>
    	<constructor-arg ref="lobHandler"/>
    	<property name="inspector">
    		<bean class="gov.usgs.ngwmn.dm.cache.qw.NullInspector"/>
    	</property>
    </bean>
    
    <bean id="WaterlevelCache" class="gov.usgs.ngwmn.dm.cache.qw.DatabaseXMLCache">
    	<constructor-arg ref="dataSource"/>
    	<constructor-arg value="WATERLEVEL"/>
    	<constructor-arg ref="lobHandler"/>
    	<property name="inspector">
    		<bean class="gov.usgs.ngwmn.dm.cache.qw.NullInspector"/>
    	</property>
    </bean>

	<bean id="WaterQualityInspector"  class="gov.usgs.ngwmn.dm.cache.qw.WaterQualityInspector">
		<property name="dataSource" ref="dataSource"/>
	</bean>
</beans>

       