<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <jmxConfigurator />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  	  <encoder>
	    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	  </encoder>
  </appender>
  
  <appender name="NGWMN" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.base:-.}/logs/ngwmn/ngwmn.%d.log</fileNamePattern>
    </rollingPolicy>
    
  	  <encoder>
	    <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
	  </encoder>
  </appender>

  <appender name="prefetch" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="gov.usgs.ngwmn.dm.prefetch.PrefetchLogFilter" />
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.base:-.}/logs/ngwmn/prefetch.%d.log</fileNamePattern>
    </rollingPolicy>
  	  <encoder>
	    <pattern>%d [%thread] %-5level %mdc{prefetch} %logger{36} - %msg%n</pattern>
	  </encoder>
  </appender>

  <logger name="gov.usgs.ngwmn.dm.DataManagerServlet" level="DEBUG" />
  <logger name="com.base22" level="DEBUG"/>
  <logger name="httpclient.wire.content" level="WARN"/>
  <logger name="gov.usgs.ngwmn.dm.visualization" level="DEBUG" />
  <logger name="gov.usgs.ngwmn.dm.prefetch" level="DEBUG"/>
  <logger name="org.springframework.jdbc.core.JdbcTemplate" level="INFO"/>
  <logger name="gov.usgs.ngwmn.dm.aspect" level="INFO"/>
  <logger name="gov.usgs.ngwmn.dm.io" level="INFO"/>
  <logger name="gov.usgs.ngwmn.ogc" level="DEBUG"/>
  
  <root level="info">
  	<if condition=' ! p("user.name").equals("tomcat")'>
  		<then>
    		<appender-ref ref="STDOUT" />
    	</then>
    </if>
    <appender-ref ref="NGWMN"/>
    <appender-ref ref="prefetch"/>
  </root>
  
</configuration>