<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  	  <encoder>
	    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	  </encoder>
  </appender>
  
  <appender name="NGWMN" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.base:-.}/logs/ngwmn/ngwmn.%d.log</fileNamePattern>
    </rollingPolicy>
    
  	  <encoder>
	    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	  </encoder>
  </appender>

  <logger name="gov.usgs.ngwmn.dm.DataManagerServlet" level="DEBUG" />
  <logger name="com.base22" level="TRACE"/>
  <logger name="httpclient.wire.content" level="WARN"/>
  <logger name="gov.usgs.ngwmn.dm.visualization" level="TRACE" />
  <logger name="gov.usgs.ngwmn.dm.prefetch" level="DEBUG"/>
  
  <root level="debug">
  	<if condition=' ! p("user.name").equals("tomcat")'>
  		<then>
    		<appender-ref ref="STDOUT" />
    	</then>
    </if>
    <appender-ref ref="NGWMN"/>
  </root>
  
</configuration>