<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<import resource="applicationContext.xml"/>
    <bean id="dataSource_cida"
        class="oracle.jdbc.pool.OracleDataSource"
        destroy-method="close">
        <!--  <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" /> -->
		<property name="URL"
                  value="jdbc:oracle:thin:@//widev.er.usgs.gov:1521/widev.er.usgs.gov" />
        <property name="user" value="gw_data_portal" />
        <property name="password" value="A4lj3_pf" />
    </bean>
    <bean id="dataSource"
        class="oracle.jdbc.pool.OracleDataSource"
        destroy-method="close">
        <!--  <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" /> -->
		<property name="URL"
                  value="jdbc:oracle:thin:@192.168.56.10:1521:orcl" />
        <property name="user" value="gw_data_portal" />
        <property name="password" value="oracle" />
    </bean>
    
</beans>

       