<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
           
	<import resource="applicationContext.xml"/>
	
<!-- Here's how to set the cache fetch executor service to null, which causes inspection to happen in-thread. 
	<bean id="singleThreadExecutor" class="gov.usgs.ngwmn.NullFactoryBean">
		<constructor-arg value="java.util.concurrent.ExecutorService"/>
	</bean>
 -->
	
    <beans profile="default">
	    <bean id="dataSource"
	        class="oracle.jdbc.pool.OracleDataSource"
	        destroy-method="close">
			<property name="URL"
	                  value="${ngwmn_cache_url}" />
	        <property name="user" value="${ngwmn_cache_username}" />
	        <property name="password" value="${ngwmn_cache_pw}" />
	        <!--  ask Oracle JDBC driver to not convert DATE to TIMESTAMP please -->
	       	<property name="connectionProperties">
	        	<props>
	        		<prop key="oracle.jdbc.mapDateToTimestamp">false</prop>
	        	</props>
	        </property>
	    </bean>
    </beans>
    
    <beans profile="local">
	    <bean id="dataSource"
	        class="oracle.jdbc.pool.OracleDataSource"
	        destroy-method="close">
	        <!--  <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" /> -->
			<property name="URL"
	                  value="jdbc:oracle:thin:@192.168.56.10:1521:orcl" />
	        <property name="user" value="ngwmn_cache" />
	        <property name="password" value="${ngwmn_cache_pw}" />
	       	<!--  ask Oracle JDBC driver to not convert DATE to TIMESTAMP please -->
	       	<property name="connectionProperties">
	        	<props>
	        		<prop key="oracle.jdbc.mapDateToTimestamp">false</prop>
	        	</props>
	        </property>
	        
	    </bean>
    </beans>
    
    <beans profile="local-gw_portal_portal">
	    <bean id="dataSource"
	        class="oracle.jdbc.pool.OracleDataSource"
	        destroy-method="close">
	        <!--  <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" /> -->
			<property name="URL"
	                  value="jdbc:oracle:thin:@192.168.56.10:1521:orcl" />
	        <property name="user" value="gw_data_portal" />
	        <property name="password" value="oracle" />
	       	<!--  ask Oracle JDBC driver to not convert DATE to TIMESTAMP please -->
	       	<property name="connectionProperties">
	        	<props>
	        		<prop key="oracle.jdbc.mapDateToTimestamp">false</prop>
	        	</props>
	        </property>
	    </bean>
    </beans>
    
</beans>

       