<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	  <encoder>
	    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	  </encoder>
  </appender>
  
  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

	<appender name="file" class="ch.qos.logback.core.FileAppender">
    	<file>/tmp/test-${bySecond}.log</file>
    	<append>true</append>
    	<layout class="ch.qos.logback.classic.PatternLayout">
      		<pattern>%d [%thread] %-5level %X{well} %class{0}:%L %M - %msg%n</pattern>
    	</layout>
  	</appender>
  <root level="warn">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="file"/>
  </root>
  
  <logger level="info"  name="httpclient.wire" />
  <logger level="info"  name="org.apache.commons.httpclient" />
  <logger level="debug" name="gov.usgs.ngwmn.dm"/>
  <logger level="debug" name="gov.usgs.ngwmn.dm.io"/>
  <logger level="debug" name="gov.usgs.ngwmn.admin.CSVController"/>
<!--   
  <logger level="trace" name="gov.usgs.ngwmn.dm.prefetch"/>
  <logger level="trace" name="gov.usgs.ngwmn.dm.cache.qw.DatabaseXMLCache"/>
  <logger level="trace" name="gov.usgs.ngwmn.dm.aspect"/>
 -->
 <!--   
  <logger level="trace" name="gov.usgs.ngwmn.dm.io.transform"/>
  <logger level="trace" name="gov.usgs.ngwmn.dm.io.parse"/>
  <logger level="trace" name="gov.usgs.ngwmn.dm.visualization"/>
 -->	

</configuration>