<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="dataSource" 
      class="org.springframework.jndi.JndiObjectFactoryBean">
      <property name="jndiName" 
                  value="java:comp/env/jdbc/GW_DATA_PORTAL"/>    
      <property name="resourceRef" 
                  value="true" /> 
	</bean>
	
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
  		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="wellRegistryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  		<property name="mapperInterface" value="gov.usgs.ngwmn.dm.dao.WellRegistryMapper" />
  		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
    <bean id="WellRegistryDAO"
    	class="gov.usgs.ngwmn.dm.dao.WellRegistryDAO">
    	<property name="mapper" ref="wellRegistryMapper"/>
   	</bean>
   	
   	<bean id="fetchLogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  		<property name="mapperInterface" value="gov.usgs.ngwmn.dm.dao.FetchLogMapper" />
  		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="FetchLogDAO"
		class="gov.usgs.ngwmn.dm.dao.FetchLogDAO">
		<constructor-arg ref="fetchLogMapper"/>
	</bean>
	
	<bean id="FetchRecorder"
		class="gov.usgs.ngwmn.dm.io.FetchRecorder">
		<property name="dao" ref="FetchLogDAO"/>
	</bean>
	
 	<bean id="FetchEventBus" class="gov.usgs.ngwmn.dm.eventbus.EventBusSpring">
 		<property name="subscribers">
     		<list>
       			<ref bean="FetchRecorder"/>
     		</list>
   		</property>
 	</bean>
		
		<bean id="FileCache"
			class="gov.usgs.ngwmn.dm.cache.fs.FileCache">
			<property name="basedir" value="/tmp/gwdp-cache"/>
		</bean>
		
		<bean id="Retriever"
			class="gov.usgs.ngwmn.dm.cache.Retriever">
			<constructor-arg ref="FileCache"></constructor-arg>
		</bean>
			
		<bean id="Loader"
			class="gov.usgs.ngwmn.dm.cache.Loader">
			<constructor-arg ref="FileCache"></constructor-arg>
		</bean>
				
		<bean id="WebRetriever"
				class="gov.usgs.ngwmn.dm.harvest.WebRetriever">
		</bean>
		
	<bean id="DataBroker" class="gov.usgs.ngwmn.dm.DataBroker">
		<property name="fetchEventBus" ref="FetchEventBus"/>
		<property name="wellRegistry" ref="WellRegistryDAO"/>
		<property name="retriever" ref="Retriever"/>
		<property name="loader" ref="Loader"/>
		<property name="harvester" ref="WebRetriever"/>
	</bean>

</beans>

       